@import '_variables';
@import 'common';

body * {
	position: relative;
	z-index: 2;
}

.background_cover{
	height: 280px;
	width: 100%;
	background: $mdc-theme-primary;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.photo-grid{
	padding-left: 13%;
	padding-right: 9%;
	margin: 0 auto;
}

.home-tool{
	background: $mdc-theme-primary;
}

.home-card{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 15px;
	text-decoration: none;

	.mdc-card__primary{
		background: #FFF;
		padding: 10px;
		&:last-child{
			padding-bottom: 10px;
		}
	}

	.mdc-card__title--large{
		font-size: 0.8rem;
		line-height: 1rem;
		background:#FFF;
	}

	.mdc-card__subtitle{
		font-size: 0.7rem;
		line-height: 1rem;
	}

	&.regular-card{
		max-width: 150px;
		min-height: 250px;
	}
}

.fab-upload{
	position: fixed;
	bottom: 1rem;
	right: 1rem;

}
.fab-faculty{
	position: fixed;
	bottom: 1rem;
	left: 1rem;

}

.swiper-container{
	z-index: 2 !important;
	background: none;
	height: 250px;
	position: relative;
	padding-bottom: 10px;
}

.carousel{
	.content-title, .content-subtitle{
		color: #EEE;
		@include paddingLeft(10%, 100px);
	}
}

.swiper-button-prev, .swiper-button-next{
	background: $mdc-theme-background;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	opacity: 0.8;
	transition: opacity 0.2s ease;

	.swiper-button{
		@include centerAbsolute;
		font-size: 20px;
	}

	&.swiper-button-disabled{
		opacity: 0;	
		pointer-events: auto;
	}
}

@media(min-width: 1024px) {
   .app-fab--absolute{
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
