/* line 2, bookstoreapp/static/css/home.scss */
body {
  background: white; }

/* line 6, bookstoreapp/static/css/home.scss */
.md-button {
  border: none;
  background: #6D9DC5;
  outline: none;
  color: #FFF;
  height: 70px;
  width: 200px;
  font-size: 1.4em;
  cursor: pointer; }

/* line 18, bookstoreapp/static/css/home.scss */
.photos img {
  margin: 15px;
  box-shadow: 2px 2px 6px #777; }
  /* line 23, bookstoreapp/static/css/home.scss */
  .photos img:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    display: block; }
