<!DOCTYPE html>
<html class="mdc-typography">
	<head>
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
		<link rel="stylesheet"
          href="{% static 'node_modules/material-components-web/dist/material-components-web.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
        	.search-icon{
        		margin-top: 15px;
        		margin-left: 25px;
        		font-size: 1.4rem;
        		cursor: pointer;
        	}

        	.search{
        		position: fixed;
        		height: 100%;
        		width: 100%;
        		top: 0;
        		left: 0;
        		background: #FFF;
        		z-index: 2000;
        		overflow-y: auto;
        	}
        	
        	#close-search, .result{
        		transition: .1s linear;
        	}

        	#close-search:hover, .result:hover{
        		color: #F44336 !important;
        	}

    	</style>
			{% block head %} {% endblock %}
			{% block title %} {% endblock %}

	</head>
	<body>
		{% block header %}
		{% endblock %}

		<div class="search" id="search-layout">
			<div class="mdc-layout-grid chapter-graph-grid">
				<div class="mdc-layout-grid__inner">
					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
						
					</div>
					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
						<div style="width:100%" class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
						  <input type="text" id="search-textfield" class="mdc-textfield__input" >
						  <label class="mdc-textfield__label" for="search-textfield">Search</label>
						  <div class="mdc-textfield__bottom-line"></div>
						</div>
					</div>

					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
						<i id="close-search" style="font-size:1.5rem; margin-top: 40px; cursor:pointer;" class="fa fa-times"></i>
					</div>
				</div>
			</div>

			<section id="search-results" class="search-results" style="width: 90%; margin: 0 auto">
				<!-- <div class="result" style="width:100%; margin: 0 auto">
					<hr class="search-hr" style="opacity:0.4">
					<br>
					<p style="font-size: 1.2rem"> Harry Potter - JK Rowling </p>
					<br>
					<hr>
				</div>

				<div class="result" style="width:100%">
					<p> Harry Potter 2 - JK Rowling </p>
				</div> -->
			</section>
		</div>

		<main class="mdc-toolbar-fixed-adjust">
			{% block content %}
			{% endblock %}
		</main>
	</body>
	<script src="{% static 'js/qwest.min.js' %}"></script>
	<script src="{% static 'node_modules/material-components-web/dist/material-components-web.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script>window.mdc.autoInit()</script>
	{% block scripts %}
	{% endblock %}
	<script>
		var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
	  	toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');

	  	$("#search-layout").hide()

	  	$("#search-icon").click(function(){
	  		$("#search-layout").show()
	  	})

	  	$("#close-search").click(function(){
	  		$("#search-layout").hide()
	  	})

	  	function createResult(book){
	  		var result = $('<a style="text-decoration:none; color:#000" class="result" style="width:100%; margin: 0 auto" href="'+ book.url +'"><hr class="search-hr" style="opacity:0.1"><br>\
					<p style="font-size: 1.2rem"> ' + book.title + ' - ' + book.author + '</p>\
					<br>\
					<hr style="opacity:0.1>\
				</a>')

				console.log(result.html())

	  		return result
	  	}

	  	$("#search-textfield").on('keyup', function(e){
	  		if(e.which == 13){
	  			qwest.get('/search?s=' + $(this).val())
	  			.then(function(xhr, res){
	  				$("#search-results").html('')
	  				if(res.data.length === 0){
	  					$("#search-results").html(createResult({
	  						'title': '- No Results Found',
	  						'url': '#',
	  						'author': ''
	  					}))
	  				}

	  				for(var i in res.data){
	  					$("#search-results").append(createResult(res.data[i]))
	  				}
	  			})
	  		}
	  	})


	</script>
</html>