{% extends "base.html" %}
{% load compress %}
{% block head  %}
	<title> Onlib | {{book_name}} </title>
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'css/book.scss' %}" />
	{% endcompress %}
{% endblock %}
{% block header %}
	{% include "header.html" %}
{% endblock %}

{% block content %}
	<div id="review-dialog" class="mdc-dialog" style="z-index: 20;"> 
		<div class="mdc-dialog__surface">
			<header class="mdc-dialog__header">
		      <h2 id="my-mdc-dialog-label" class="mdc-dialog__header__title">
		        Leave a review
		      </h2>
		    </header>
		    <section id="my-mdc-dialog-description" class="mdc-dialog__body">
				<div class="mdc-textfield mdc-textfield--multiline mdc-theme--secondary" data-mdc-auto-init="MDCTextfield">
					  <textarea id="review-field" maxlength=340 rows=5 cols=140 id="firstname" class="mdc-textfield__input"></textarea >
				</div>
			</section>
			<footer class="mdc-dialog__footer">
		        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Decline</button>
		        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Accept</button>
		    </footer>
		</div>

	</div>
	<input type="hidden" id="get-id" value="{{id}}"/>
	<br>
	<br>
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			<section id="book-card" class="book-card mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
			</section>

			<section class="description-card mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
					<div class="mdc-card__primary">
						<h1 id="book-title" class="mdc-card__title mdc-card__title--large">
						</h1>
						<h2 id="book-author" class="mdc-card__subtitle"></h2>
						<section id="book-ratings" class="mdc-card__subtitle">
							{% for count in '12345' %}
								<i id="book-rating-star-{{forloop.counter}}" class="fa fa-star rating-star rating-star-inactive"></i>
							{% endfor %}
						</section>
						<hr>
					</div>
					
					<section id="book-description" class="book-description mdc-card__supporting-text">
    				</section>
    				{% if request.user.is_authenticated %}
    				<br>
    				<section id="book-actions" class="mdc-card__actions">
    					<button class="mdc-button mdc-button--compact mdc-button--raised mdc-button--accent mdc-card__action" id="add-read-book-button">Read Now</button>
    				</section>
    				{% endif %}
				<!-- </div> -->
			</section>
		</div>
	</div>

	<div class="mdc-layout-grid chapter-graph-grid">
		<div class="mdc-layout-grid__inner">
			<section class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
				{% if user.is_authenticated %}
				<section id="user-ratings" class="user-ratings">
					<p class="thin-header"> YOUR REVIEW </p>
				{% for count in '12345' %}
					<button id="{{forloop.counter}}-user-rating" class="btn-rating-star">
						<i id="user-rating-star-{{forloop.counter}}" class="fa fa-star rating-star rating-star-inactive user-rating-star"></i>
					</button>
				{% endfor %}
				<i id="edit-review" class="fa fa-pencil" aria-hidden=true style="font-size:30px; margin-left: 30px; cursor: pointer;"></i>
				</section>
				{% endif %}
				<section id="reviews" class="reviews">
					{% for review in text_reviews %}
						<p id="{{forloop.counter}}-text-review" class="text-review">
							{{review}}
						</p>
					{% endfor %}
				</section>
				<div id="graph-card">
					<canvas id="chapter-graph"></canvas>
				</div>
			</section>

			<section class="mdc-layout-grid__cell--span-4">
			</section>
		</div>
	</div>

	<div class="background_cover">
	</div>

{% endblock %}

{% block scripts %}
	<script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
	<script src="{% static 'js/book.js' %}"></script>
{% endblock %}