{% extends "base.html" %}
{% load compress %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
	{% compress css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'css/home.scss' %}" />
	{% endcompress %}
	<title> OnLib | Home</title>
{% endblock %}

{% block content %}
	<!-- Header -->
	<header class="mdc-toolbar mdc-toolbar--fixed home-tool mdc-toolbar--waterfall">
	  <div class="mdc-toolbar__row">
	    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
	      <span class="mdc-toolbar__title">OnLib</span>
	    </section>
	  </div>
	</header>
	
	<main class="mdc-toolbar-fixed-adjust">
	  <p class="demo-paragraph">
	  </p>
	</main>
	<!-- End Header -->
	<br>

	<!-- Home Page Carousel -->
	<div class="carousel">
		<h1 class="swipe-header"> Featured Books </h1>
		<div class="swiper-container">
		    <div id="swiper-wrapper" class="swiper-wrapper"></div>
		    <div id="swiper-button-prev" class="swiper-button-prev">
		    	<i style="pointer-events:none" class="swiper-button fa fa-angle-left"></i>
		    </div>
		    <div id="swiper-button-next" class="swiper-button-next">
		    	<i style="pointer-events:none" class="swiper-button fa fa-angle-right"></i>
		    </div>
		</div>
	</div>
	<!-- End of Carousel -->

	<br>
	<br>

	<!-- Home Page Grid -->
	<div class="mdc-layout-grid photo-grid">
		<h3> Catalog </h3>
		<div id="photos" class="photos mdc-layout-grid__inner"></div>
	</div>
	<!-- End of Grid -->

	<!-- Background on top of home page -->
	<div class="background_cover">
	</div>
	<!-- End Background -->

	<!-- Upload FAB -->
	<a href="upload-book">
		<button class="mdc-fab material-icons app-fab--absolute" aria-label="Favorite">
	  		<span class="fa fa-upload">
	  		</span>
		</button>
	</a>
	<!-- End FAB -->

	<br>
	<br>
	<br>
	
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/swiper.min.js' %}"></script>
	<script src="{% static 'js/home.js' %}"> </script>
{% endblock %}